*
{
    box-sizing: border-box;
}


body
{
    max-width: 1400px; 
    font-family: Roboto;
}

header .container
{
    height:80px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;   
}
 #topHeader
{
    float:left;
}

.nav
{
    margin-top:  10px;
}

.icon
{
    font-size: 10px;
}
.searchBar input 
{
    /* padding:8px; */
    /* border-radius:5px; */
    border:none;
    outline: none;
    float:right;
}
.login
{
    float:right;
    color:#1da2dc;
    font:bold;

}
 .login:hover
 {
    color:#a4a3a3;


 }

   #banner
   {
    position: relative;
    height:500px;
    background-image: url('images/banner.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
   }
   #text
   {
    position: absolute;
    top:25%;
    padding: 0 400px;
    color:white;
    font-size: 48px;
    margin-bottom: 50px;
   }
  #text .story
  {
    font-size: 30px;
    color:#ccc;
    margin-top: 50px;

  }
  #text .company
  {
    font-size:20px;
    font-family:italic;
  }
  .heading
  {
    text-align:center;
  }
  .container
  {
    margin:100px auto;
    width:75%;
  }
  img 
  {
    float:left;
    margin-right: 40px;;
  }
  
  h5{
    color:#252525;
    font-style: bold;
  }